<form [formGroup]="signUpForm">
    <label>
        Name:
        <input type="text" formControlName="firstName">
        <p *ngIf="signUpForm.controls.firstName.errors && signUpForm.controls.firstName.touched"> Name is Required </p>
    </label>
    <label>
        Password:
        <input type="password" formControlName="password">
        <p *ngIf="signUpForm.controls.password.errors && signUpForm.controls.password.touched"> Password is Required
        </p>
    </label>

    <button (click)="registerDetails()" [disabled]="!signUpForm.valid || signUpForm.untouched || !signUpForm.dirty">
        Login </button>
</form>